body {
    background-image: url(b3.jpg);
    /*background-repeat: no-repeat;*/
    /*background-position: 0% 0%;*/
    /*background-position: center center;*/
    background-size:contain;
    background-attachment: fixed;
    background-blend-mode:soft-light;
}


.photo {
    width: 150px;
}

p{
    color: #222222;
}
