body {
    background-color: rgb(211, 211, 211);
    /*background-repeat: no-repeat;*/
    /*background-position: 0% 0%;*/
    /*background-position: center center;*/
    background-size:contain;
    background-attachment: fixed;
    background-blend-mode:soft-light;
    font-family: 'Raleway', sans-serif;
    color: #222222;
    margin: 0;
}
.container {
    width: 900px;
    margin: 0 auto; /*margin 0 auto (top/bottom right/left) = margin 0 auto 0 auto (top right bottom left).*/

}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.photo {
    width: 150px;
    border: 2px solid rgb(128, 128, 128); /*short-hand (atalho)*/ 
    border-radius: 50%; /* ou pode colocar quantos pixels (o quão arrendondado) vc quer
    Tb é possível entrar com quatro porcentagens diferentes para criar diversos formatos (acontece 
    em senido horário-canto sup esq, canto sup dir, canto inf dir, canto inf esq)*/
    /*border-width: 2px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    mesma coisa que o anterior mas 3 vezes maior/mais trabalho
    */

    margin: 30px 30px 0 30px; /* top right bottom left ou apenas 1 pra todos (sentido horário-imagina um relógio*/
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left:  100px;*/

    padding: 1px; /* top right bottom left ou apenas 1 pra todos (sentido horário-imagina um relógio*/
    box-shadow: 0px 0px 10px rgb(184, 185, 199); /* 1-distancia da sombra na horizontal, 2-na vertital, 3-desfoque da sombra*/
}

.social-icons {
    width: 20px;
    height: auto;
}

.social-links {
    text-decoration: none;
}

.face {
    margin: 0 15px 0 15px;
}

.git {
    margin: 0 15px 0 0;
}

p{
    color: #222222;
}

h1{
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: -1px;
    font-size: 40px;
}
h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(59, 59, 59);
    font-weight: lighter;
    letter-spacing: -1px;
}
h4{
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 {
    margin-bottom: 5px;
}

.top {
    margin-bottom: 0px;
}

.bottom {
    margin-top: 5px;
}

ul {
    margin-top: 10px;
}

.footer {
    background-color: black;
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 10px 0;
}